<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aninterface">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dezactivity"></activity>
        <activity android:name=".nonaactivity" />
        <activity android:name=".oitoactivity" />
        <activity android:name=".setimaactivity" />
        <activity android:name=".sextaactivity" />
        <activity android:name=".quintaactivity" />
        <activity android:name=".quartaactivity" />
        <activity android:name=".terceiraactivity" />
        <activity android:name=".segundaactivity" />
        <activity android:name=".primeiratela" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>